html, body {
  background-color: #333 !important;
}
input.form-control, textarea.form-control {
  background-color: transparent;
  border-style: solid;
  border-color: #EEE;
  color: #EEE;
  border-width: 2px 7px 2px 2px;
}
input.form-control {
  padding: 25px;
  font-size: 2rem;
}