/*
    Created on : 2017-10-27
    Author     : Michael Akanji
*/

#event-ticker {

	.event-ticker-title {
		border-bottom: 2px solid rgb(12,12,200);
	}

  div.event {
	margin-bottom: 10px ;
	
	img {
	  width: 100%;
	}
	
	.heading {
	  @extend .text-bold;
	}
	
	.description {
	  
	  /*border: {
		style: solid;
		width: 1px;
	  }*/
	  
	  margin: auto;
	  font-size: 0.8em;
	  height: 2em * $line-height-base;
	  
	  @extend .text-clip;
	  
	  /*todo: Find a future fix to add the ellipis*/
	  &:after {
		content: '...';
	  }
	  
	}
	
	.date {
	
	}
  }
}